body {
    background-image:  url(background.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: 2;

    background-color: rgba(5, 38, 48, 0.6);
    background-blend-mode: darken;

    color: white;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.3em;
    margin-bottom: 40px;
}

.flobild {
    width: 70%;
    max-width: 600px;
    height: auto;
}

.rocketracoonbackground {
    background-image: url("rocket-racoon.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.cloak-daggerbackground {
    background-image: url("cloak-dagger.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.doctor-strangebackground {
    background-image: url("doctor-strange.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.emma-frostbackground {
    background-image: url("emma-frost.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.grootbackground {
    background-image: url("groot.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.hawkeyebackground {
    background-image: url("hawkeye.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.helabackground {
    background-image: url("hela.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.invisible-womanbackground {
    background-image: url("invisible-woman.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.magnetobackground {
    background-image: url("magneto.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.moon-knightbackground {
    background-image: url("moon-knight.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.namorbackground {
    background-image: url("namor.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.punisherbackground {
    background-image: url("punisher.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.ultronbackground {
    background-image: url("ultron.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.winter-soldierbackground {
    background-image: url("winter-soldier.png"); /* dein PNG */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;              /* Höhe des Bereichs */
    color: white;

    display: table;
    width: 100%;
}

.hero h1,
.hero p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}


button {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    padding: 15px 30px;
    border-radius: 10px;
    border-width: 4px;
    border-color: black;
    cursor: pointer;
    background-color: #444444;
    color: rgb(218, 218, 218);
    margin: 7px;
}

button:hover {
    background-color: #999999;
    border-color: rgb(30, 30, 30);
}

.herobutton {
    display: table-cell;
    width: 5%;
    height: 6vh;
    text-align: center;
    vertical-align: middle;           
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #2b2b2b;
    margin: 3% auto;
    padding: 30px;
    width: 80%;
    max-width: 1200px;
    max-height: 80vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: rgba(48, 48, 48, 0.7);
    border-radius: 15px;
    text-align: center;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    font-size: 28px;
}

.bildliste {

    display: flex;            /* Flexbox: nebeneinander */
    justify-content: center;  /* horizontal zentrieren */
    gap: 20px;                /* Abstand zwischen den Bildern */
    flex-wrap: wrap;          /* bei kleinen Bildschirmen umbrechen */
}

.bildliste img {
    width: auto;
    max-width: 400px;    /* Breite pro Bild */
    height: auto;    /* proportional */
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}